@import './variables.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
#root {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Helvetica, Arial, sans-serif;
	background: var(--background-dark);
	line-height: 1.5;
}
