.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 128px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 32px;
}

/* Ссылки */
.link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 130%;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link:hover {
  color: #0d50ff;
}
.logo {
  cursor: pointer;
  display: block;
}
/* Логотип */
.logo img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: block;
}

/* Корзина */
.cartIcon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  display: block;
  cursor: pointer;
}
.headerBorder {
  border-bottom: 1px solid #e2e2e2;
}
