.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 128px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 32px;
}

/* Ссылки */
.link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 130%;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link:hover {
  color: #0d50ff;
}
.logo {
  cursor: pointer;
  display: block;
}
/* Логотип */
.logo img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  display: block;
}

/* Корзина */
.cartIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

/* картинка сумки */
.cartIconImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* счетчик */
.cartCount {
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #0d50ff;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Линия*/
.headerBorder {
  border-bottom: 1px solid #e2e2e2;
}
