.card {
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 210px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  background: white;
}

/* Эффект парения при наведении мышкой */
.card:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 112px;
  object-fit: contain; /* Чтобы кроссовок не сплющило */
  margin-bottom: 14px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceBlock {
  display: flex;
  flex-direction: column;
}

.priceTitle {
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.5;
}

.priceValue {
  font-size: 14px;
  font-weight: 700;
}

.plus {
  cursor: pointer;
  transition: opacity 0.2s;
}

.plus:hover {
  opacity: 0.8;
}
