.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #282828;
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 80px;
}
