* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  background-color: #cfd7ed;
  min-height: 100vh;
  padding-top: 20px;
}
