body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #ffffff;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1;
}

.header {
  background-color: #3b3c3d;
  color: white;
  border-bottom: 1px solid #3b3c3d;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-left h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.header-right {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header-right li {
  cursor: pointer;
  opacity: 0.7;
  font-size: 14px;
  transition: opacity 0.2s;
}

.header-right li:hover {
  opacity: 1;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}
/* --- ПОДВАЛ (FOOTER) --- */

.footer {
  background-color: #232425;
  color: #ffffff;
  padding: 40px 0;
  margin-top: auto;
  border-top: 1px solid #444;
  font-family: 'Montserrat', sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer-contacts h3 {
  margin: 0 0 10px;
  font-size: 16px;
  opacity: 0.7;
}

.footer-contacts p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.5;
}

.footer-socials {
  display: flex;
  gap: 15px;
}

/* Белые кружки для иконок*/
.footer-socials img {
  cursor: pointer;
  background: #232425;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.2s;
}

.footer-socials img:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
}

.copyright {
  font-size: 13px;
  opacity: 0.4;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subscribe-label {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 5px;
}
.subscribe-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: white;
  padding: 5px 0;
  outline: none;
  width: 200px;
}

.subscribe-input:focus {
  border-bottom-color: white;
}
