body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
}

.header {
  background-color: #3b3c3d;
  color: white;
  border-bottom: 1px solid #3b3c3d;
  height: 110px;
  display: flex;
  align-items: center;
  padding: 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header-left h3 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.header-right {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.header-right li {
  cursor: pointer;
  opacity: 0.7;
  font-size: 14px;
  transition: opacity 0.2s;
}

.header-right li:hover {
  opacity: 1;
}

.page-title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}
/* --- ПОДВАЛ (FOOTER) --- */

.footer {
  background-color: #232425;
  color: #ffffff;
  padding: 40px 0;
  margin-top: auto;
  border-top: 1px solid #444;
  height: 347px; /* Жесткая высота */
  display: flex; /* Включаем флекс */
  align-items: center; /* Центрируем контейнер с текстом вертикально */
  padding: 0; /* Убираем старые отступы, чтобы не ломать высоту */
  padding-bottom: 64px; /* Поднимает контент на 64px от пола */
  box-sizing: border-box;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.footer-contacts h3 {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin: 73px 0 30px 0; /* Отступы */
}

.footer-contacts p {
  margin: 5px 0;
  font-size: 18px;
  color: #ffffff80;
}

.footer-socials {
  display: flex;
  gap: 26px;
  margin-top: 66px;
  align-items: center;
}

/* Белые кружки для иконок*/
.footer-socials img {
  cursor: pointer;
  background: #232425;
  border-radius: 50%;
  padding: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  transition: transform 0.2s;
}

.footer-socials img:hover {
  transform: translateY(-3px);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  padding-top: 20px;
}

.copyright {
  font-size: 20px;
  color: #ffffff80;
}

.subscribe-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.subscribe-label {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 5px;
}
.subscribe-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: white;
  padding: 5px 0;
  outline: none;
  width: 200px;
}

.subscribe-input:focus {
  border-bottom-color: white;
}
.banner {
  display: block;
  width: 100%;
  height: 530px;
  object-fit: cover;
  margin-top: 28px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
