body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', system-ui, sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Сброс кнопок */
button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  flex: 1;
}
