.cartItem {
  display: flex;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 16px;
  height: 180px;
}

/* Картинка слева */
.imageLink {
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLink img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Правая часть  */
.infoWrapper {
  flex-grow: 1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Раскидываем верх и низ */
}

/* Верх: Название и Крестик */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #282828;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 24px;
  color: #282828;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.closeBtn:hover {
  color: #d00;
}

/* Низ: Счетчик и Цена */
.footer {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Счетчик */
.counter {
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 6px;
  height: 48px;
  width: fit-content;
}

.counter button {
  background: none;
  border: none;
  width: 48px;
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  color: #282828;
}

.counter span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  min-width: 30px;
  text-align: center;
}

/* Цена */
.priceBlock {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.currentPrice {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #282828;
  line-height: 1;
}

.oldPrice {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through;
  margin-bottom: 4px;
}

@media (max-width: 600px) {
  .cartItem {
    flex-direction: column;
    height: auto;
  }
  .imageLink {
    width: 100%;
    height: 200px;
    border-right: none;
    border-bottom: 1px solid #dddddd;
  }
  .currentPrice {
    font-size: 28px;
  }
}
