.footer {
  width: 100%;
  background-color: #ffffff;
  padding: 0px 0 80px 0;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  color: var(--color-text); /* #282828 */
  margin-bottom: 40px;
  margin-top: 0;
}

/* СЕТКА КАРТОЧЕК */
.cardsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 32px;
  margin-bottom: 32px;
}

.card {
  background-color: #f1f3f4;
  border-radius: 12px;
  padding: 32px;
  min-height: 150px;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.cardLabel {
  color: var(--color-text-secondary);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 12px;
}

.cardValue {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  color: var(--color-text);
  margin: 0;
}

/* СОЦСЕТИ */
.socials {
  display: flex;
  gap: 16px;
}

.socialIcon {
  width: 43px;
  height: 44px;
  display: block;
  transition: transform 0.2s ease;
}

.socialIcon:hover {
  transform: scale(1.1);
}

.mapWrapper {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #e0e0e0; /* grey.200 */
  margin-top: 32px;
}

.mapFrame {
  border: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .title {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .cardValue {
    font-size: 28px;
  }
}

@media (max-width: 650px) {
  .cardsGrid {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .title {
    font-size: 40px;
  }

  .card {
    padding: 24px;
    min-height: auto;
  }

  .mapWrapper {
    height: 300px;
  }
}
