.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}
/* Contact */
.title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 110%;
  color: #000;
  margin-bottom: 40px;
  margin-top: 0;
}

.cardsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 194px;
  gap: 32px;
  margin-bottom: 32px;
}

.card {
  background-color: #f1f3f4;
  border-radius: 12px;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.cardLabel {
  color: #8b8b8b;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 12px;
}

.cardValue {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  color: #000;
}

.socials {
  display: flex;
  gap: 16px;
}

.socialIcon {
  width: 43px;
  height: 44px;
  display: block;
}

/* Карта */
.mapWrapper {
  width: 100%;
  height: 350px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ddd;
}

.mapImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
