.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  font-family: inherit;
  line-height: 130%;
  border-radius: 6px; 
  border: 1px solid transparent; 
}

.blue {
  background-color: #0d50ff;
  color: #ffffff;
  height: 58px;   
  font-size: 20px; 
  font-weight: 600;
  padding: 0 32px; 
}

.blue:hover {
  background-color: #083ecc; 
}


.white {
  background-color: transparent;
  border: 1px solid #dddddd; 
  color: #8b8b8b;  
  height: 36px;
  padding: 8px 16px;  
  font-size: 16px;     
  font-weight: 500;
  line-height: 126%;
}

.white:hover {
  color: #000000;
  border-color: #dddddd;
}

.large {
  width: 100%;
}