.header {
  width: 100%;
  height: 125px;
  background-color: #3b5998;
  color: white;

  display: flex;
  align-items: center;

  padding: 0 40px;
  box-sizing: border-box;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo img {
  height: 48px;
}

.nav {
  margin-left: 60px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 0 20px;
}

.nav li + li {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
