.container {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #8b8b8b;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}

.btn:hover {
  background-color: #f0f0f0;
  color: #000;
}

.line {
  width: 16px;
  height: 1px;
  background-color: #ddd;
}

.active {
  cursor: default;
  color: #282828;
  pointer-events: none;
}
