.filterContainer {
  margin-bottom: 25px;
  text-align: left;
}

.filterInput {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fafafa;
  transition: all 0.2s ease;
  outline: none;

  text-align: left;
  color: #a11010;
}

.filterInput::placeholder {
  color: #aaa;
  font-style: italic;
  font-weight: 300;
}

.filterInput:focus {
  background-color: #fff;
  border-color: #2196f3;
  box-shadow: 0 0 0 4px rgba(33, 150, 243, 0.1);
}
