.orderContainer {
  background-color: #f1f3f4;
  border-radius: 12px;
  padding: 32px;
  width: 100%;
  max-width: 548px;
  min-height: 582px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #282828;
  margin-top: 0;
  margin-bottom: 24px;
}

/* Блок с цифрами */
.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

.itemsCount {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #282828;
  line-height: 130%;
  color: #8b8b8b;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totalLabel {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #8b8b8b;
}

.totalPrice {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 64px;
  color: #282828;
  line-height: 110%;
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inputWrapper {
  width: 100%;
}

.input {
  width: 100%;
  height: 58px;
  padding: 0 20px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #282828;

  /* ВАЖНО */
  box-sizing: border-box; /* Чтобы паддинги не ломали размеры */
}

.input::placeholder {
  color: #8b8b8b;
}

.input:focus {
  outline: 2px solid #0d50ff; /* Синяя обводка только при клике */
}

.submitBtn {
  background-color: #0d50ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s;
}

.submitBtn:hover {
  background-color: #003cc5;
}

.error {
  color: #ff4040;
  font-size: 12px;
  margin-top: 4px;
  padding-left: 4px;
  display: block;
}
