/* карточка */
.card {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #f0f8ff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  border: 1px solid #d4e7f7;
}

/* Стили картинки */
.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Стили имени */
.name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Стили для email и телефона */
.info {
  font-size: 18px;
  color: #555;
  margin: 30px 0px;
}
.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #ccc;
}
