.footer {
  background-color: #232425;
  color: #ffffff;
  margin-top: auto;
  border-top: 1px solid #444;
  height: 347px;
  display: flex;
  align-items: center;
  padding: 0;
  padding-bottom: 64px;
  box-sizing: border-box;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.footerContacts h3 {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin: 73px 0 30px 0;
}

.footerContacts p {
  margin: 5px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5); /* #ffffff80 */
}

.footerSocials {
  display: flex;
  gap: 26px;
  margin-top: 66px;
  align-items: center;
}

/* Стили для иконок внутри блока соцсетей */
.footerSocials img {
  cursor: pointer;
  background: #232425;
  border-radius: 50%;
  padding: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  transition: transform 0.2s;
}

.footerSocials img:hover {
  transform: translateY(-3px);
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
  padding-top: 20px;
}

.copyright {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5); /* #ffffff80 */
}

.subscribeBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribeLabel {
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 5px;
}

.subscribeInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: white;
  padding: 5px 0;
  outline: none;
  width: 200px;
}

.subscribeInput:focus {
  border-bottom-color: white;
}
