.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #282828;
  margin-top: 40px;
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .productList {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 40px;
  }
}
