.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
  box-sizing: border-box;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 40px;
  }
  .header {
    gap: 16px;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
