.sectionHeader {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 40px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #282828;
  line-height: 110%;
  margin: 0;
  margin-right: 32px;
  white-space: nowrap;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #dddddd;
}

.btn {
  color: #8b8b8b;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #f0f0f0;
  color: #000;
  border-color: #8b8b8b;
}

@media (max-width: 650px) {
  .title {
    font-size: 40px;
    margin-right: 16px;
  }
}
