.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
  box-sizing: border-box;
}

/* --- ШАПКА --- */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 32px;
}

.title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  line-height: 110%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #dddddd;
}

/* --- КНОПКА --- */
.btn {
  color: #8b8b8b;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 6px;
  padding: 8px 16px;
  white-space: nowrap;
  transition: all 0.2s ease;
  text-decoration: none;
  line-height: 126%;
}

.btn:hover {
  border-color: #8b8b8b;
  color: #000;
}

/* --- СЕТКА ТОВАРОВ --- */
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

/* --- КАРТОЧКА ТОВАРА --- */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 422px;
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  overflow: hidden; /* Чтобы картинка не вылезала за скругления */
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

/* --- СТИКЕР СКИДКИ --- */
.discountBadge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #0d50ff;
  color: #ffffff;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 6px;
  z-index: 2;
}

/* --- КАРТИНКА ТОВАРА --- */
.image {
  width: 100%;
  height: 284px;
  object-fit: contain;
  border-bottom: 1px solid #dddddd;
  padding: 0;
  margin-bottom: 0;
}

/* --- БЛОК ИНФОРМАЦИИ --- */
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 32px;
  flex-grow: 1;
}

.productTitle {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --- ЦЕНЫ --- */
.prices {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.currentPrice {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  line-height: 110%;
}

.oldPrice {
  font-size: 20px;
  font-weight: 500;
  color: #8b8b8b;
  text-decoration: line-through;
}
