.section {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
  box-sizing: border-box;
}


/* --- СЕТКА ТОВАРОВ --- */
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
