/* src/components/postList/styles.module.css */

.loadMoreButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #7f99e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px; /* Отступ от последнего поста */
}

.loadMoreButton:hover {
  background-color: #6a88d6;
}
