/* --- ОСНОВНОЙ КОНТЕЙНЕР --- */
.card {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
}

/* --- ОБЕРТКА КАРТИНКИ --- */
.imageWrapper {
  position: relative;
  width: 100%;
  height: 284px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --- СКИДКА (BADGE) --- */
.badge {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #0d50ff;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  z-index: 2;
}

/* --- ВСПЛЫВАЮЩАЯ КНОПКА --- */
.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 10;

  /* Скрыта по умолчанию */
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

/*  при наведении на карточку */
.card:hover .overlay {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* --- ТЕКСТОВАЯ ЧАСТЬ --- */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prices {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 100%;
}

.oldPrice {
  font-size: 16px;
  text-decoration: line-through;
  color: #8b8b8b;
  margin-bottom: 2px;
}
