.card {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd; 
  border-radius: 12px;      
  padding: 32px;           
  box-sizing: border-box; 
    display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  transition: box-shadow 0.3s ease; 
  overflow: hidden; 
}

.card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05); 
}

/* Обертка для картинки */
.imageWrapper {
  width: 100%;
  height: 316px;   
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative; 
}

/* картинка */
.image {
  max-width: 100%;   
  max-height: 100%;  
  object-fit: contain; 
}

.badge {
position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 34px;
  background-color: #0d50ff;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  z-index: 2;
  padding: 0;
}

/* Кнопка "В корзину" (скрыта по умолчанию) */
.addToCart {
  position: absolute;
  bottom: 0;   
  left: 0;
  width: 100%; 
  opacity: 0; 
  transform: translateY(10px); 
  transition: all 0.3s ease;   
  z-index: 3;        
}

/* Когда мышка на карточке (.card:hover), меняем стиль кнопки .addToCart */
.card:hover .addToCart {
  opacity: 1;  
  transform: translateY(0); 
}

/* Блок с названием и ценами */
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Название товара */
.title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  /*текстдлинный — (...) */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Блок цен */
.prices {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

/* Текущая цена (большая) */
.price {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
  line-height: 110%;
}

/* Старая цена (серая, зачеркнутая) */
.oldPrice {
  font-size: 20px;
  color: #8b8b8b;
  text-decoration: line-through; /* Зачеркивание */
  font-weight: 500;
  line-height: 130%
}